<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<td>


  <!-- Кнопка, которая открывает модальное окно EDIT -->
  <button type="button" class="btn btn-info" data-toggle="modal"
          th:data-target="${'#editUser' + user.id}">
    Edit
  </button>

  <!-- Модальное окно EDIT -->
  <div class="modal" th:id="${'editUser' + user.id}">
    <div class="modal-dialog">
      <div class="modal-content">

        <!-- Заголовок модального окна EDIT -->
        <div class="modal-header">
          <h4 class="modal-title">Edit User</h4>
          <button type="button" class="close" data-dismiss="modal">&times;</button>
        </div>

        <!-- Основное содержимое модального окна EDIT -->
        <div class="modal-body">
          <form
                  th:method="PATCH"
                  th:action="@{/admin/test2/{id}/edit (id=${user.id})}"
                  th:object="${user}">
            <!--                                                        th:id="'editForm' + ${user.id}"   я не знаю что это пока что-->
            <div style="margin-left: auto; margin-right: auto"
                 class="form-group col-6 text-center">

              <b><label >ID</label></b>
              <input class="form-control" type="text" th:value="*{id}" disabled>

              <b><label for="editName">First Name</label></b>
              <input class="form-control" placeholder="First name"
                     type="text" th:value="*{firstName}" id="editName">

              <b><label for="editLastName">First Name</label></b>
              <input class="form-control" placeholder="First name"
                     type="text" th:value="*{lastname}" id="editLastName">

              <b><label for="editAge">Age</label></b>
              <input class="form-control" placeholder="First name"
                     type="number" th:value="*{age}" id="editAge">


              <b><label for="editEmail">Email</label></b>
              <input class="form-control" placeholder="First name"
                     type="email" th:value="*{email}" id="editEmail">


              <b><label for="editPassword">Password</label></b>
              <input class="form-control" placeholder="First name"
                     type="password" th:value="*{password}" id="editPassword">

              <p>
                <b><label for="roles">Roles</label></b>
                <select class="form-control" size="2" id="editRoles" name="roles" multiple th:value="*{roles}">
                  <option th:each="role : ${allRoles}"
                          th:text="${role.toString()}"
                          th:value="${role.id}"
                  ></option>
                </select>
              </p>






            </div>





          </form>


        </div>

        <!-- Футер модального окна EDIT -->
        <div class="modal-footer">
          <button type="button" class="btn btn-secondary" data-dismiss="modal">Close</button>
          <input class="btn btn-primary" type="submit"
                 value="Edit"/>
          <!--                                                    th:attr="form='editForm' + ${user.id}"-->
        </div>

      </div>
    </div>
  </div>



</td>



</body>
</html>