<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org" >
<head>
    <meta charset="UTF-8">
    <title>Edit User</title>
</head>
<body>
<a href="/logout">LOGOUT</a>
<br/>
<br/>
<br/>
<form th:method="PATCH" th:action="@{/admin/{id}(id=${user.getId()})}" th:object="${user}">

  <label for="name">Enter name:</label>
  <input type="text" th:field="*{firstName}" id="name">
  <br/>
  <label for="lastname">Enter Country</label>
  <input type="text" th:field="*{lastname}" id="lastname">
  <br/>
  <label for="age">Enter Age</label>
  <input type="text" th:field="*{age}" id="age">
  <br/>
  <label for="email">Enter Email</label>
  <input type="text" th:field="*{email}" id="email">
  <br/>
  <label for="password">Enter Password</label>
  <input type="text" th:field="*{password}" id="password">
  <br/>

  <p>
    <label>Roles:
      <input type="checkbox" name="roles"
             th:each="role : ${allroles}"
             th:text="${role.toString()}"
             th:value="${role.id}"
             th:field="*{roles}"

      />
    </label>
  </p>
  <input type="submit" value="Update!"/>

</form>



</body>
</html>