<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>


<!--КНОПКА EDIT-->
<button type="button" class="btn btn-info" data-toggle="modal"
        data-bs-target="'#editUser' + ${usera.id}">
    Edit
</button>


<div class="modal fade" id="'editUser' + ${usera.id}" tabindex="-1"
     aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h5 class="modal-title" id="exampleModalLabel">Edit</h5>
                <button type="button" class="close" data-dismiss="modal"
                        aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
            </div>
            <div class="modal-body">


                <form
                        th:method="PATCH"
                        th:id="${user.getId()}"
                        th:action="@{/admin/{id}(id=${usera.id})}"
                        th:object="${usera}">

                    <div style="margin-left: auto; margin-right: auto"
                         class="form-group col-6 text-center">

                        <b><label for="editName">First Name</label></b>
                        <input class="form-control" placeholder="First name"
                               type="text" th:field="*{firstName}" id="editName">
                        <br/>
                        <b><label for="editLastname">Last Name</label></b>
                        <input class="form-control" placeholder="Last name"
                               type="text" th:field="*{lastname}" id="editLastname">
                        <br/>
                        <b> <label for="editAge">Age</label></b>
                        <input class="form-control" placeholder="Age" type="text"
                               th:field="*{age}" id="editAge">
                        <br/>
                        <b> <label for="editEmail">Email</label></b>
                        <input class="form-control" placeholder="Email" type="email"
                               th:field="*{email}" id="editEmail">
                        <br/>
                        <b> <label for="EditPassword">Password</label></b>
                        <input class="form-control" placeholder="Password"
                               type="password" th:field="*{password}"
                               id="editPassword">
                        <br/>

                        <p>
                            <b><label for="editRoles">Roles</label></b>
                            <select class="form-control" id="editRoles" name="roles"
                                    multiple th:field="*{roles}">
                                <option th:each="role : ${allRoles}"
                                        th:text="${role.toString()}"
                                        th:value="${role.id}"
                                ></option>
                            </select>
                        </p>


                    </div>
                    <div class="modal-footer">
                        <button type="button" class="btn btn-secondary"
                                data-dismiss="modal">Close
                        </button>
                        <input class="btn btn-primary" type="submit" value="Edit"/>
                    </div>
                </form>
            </div>

        </div>
    </div>

</div>


РАБОТАЮЩАЯ СТРОКА DELETE

<td>

    <form th:method="DELETE" th:action="@{/admin/{id}(id=${user.getId()})}">
        <button type="submit" class="btn btn-danger"> Delete</button>
    </form>

</td>


Рабочий пример модального окна

<!-- Кнопка, которая открывает модальное окно -->
<button type="button" class="btn btn-info" data-toggle="modal" data-target="#myModal">
    Edit
</button>

<!-- Модальное окно -->
<div class="modal" id="myModal">
    <div class="modal-dialog">
        <div class="modal-content">

            <!-- Заголовок модального окна -->
            <div class="modal-header">
                <h4 class="modal-title">Модальное окно</h4>
                <button type="button" class="close" data-dismiss="modal">&times;</button>
            </div>

            <!-- Основное содержимое модального окна -->
            <div class="modal-body">
                <p>Это содержимое модального окна.</p>
            </div>

            <!-- Футер модального окна -->
            <div class="modal-footer">
                <button type="button" class="btn btn-secondary" data-dismiss="modal">Закрыть</button>
                <button type="button" class="btn btn-primary">Сохранить</button>
            </div>

        </div>
    </div>
</div>


<div class="modal fade" th:id="${'editModal' + user.id}" aria-labelledby="exampleModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <form th:method="PATCH" th:action="@{/admin/edit/{id}(id=${user.id})}" th:object="${user}">
                <div class="modal-header"><h5 class="modal-title" id="exampleModalLabel">Edit user</h5>
                    <button type="button" class="close" data-bs-dismiss="modal" aria-label="Close"><span
                            aria-hidden="true">&times;</span></button>
                </div>
                <div class="modal-body text-center">
                    <div class="container-fluid col-6">
                        <label for="idEdit"><strong>ID</strong></label> <input th:name="id" th:type="number"
                                                                               class="form-control"
                                                                               th:value="${user.id}" id="idEdit"
                                                                               disabled name="idEdit">


</body>
</html>