<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>User</title>
</head>
<body>
<a href="/logout">LOGOUT</a>
<br/>
<br/>
<br/>
<h1>User Page</h1>
<table border="1">
    <tr>
        <th>ID</th>
        <th>First Name</th>
        <th>Last Name</th>
        <th>Age</th>
        <th>E-mail</th>
        <th>Role</th>

    </tr>
    <tr th:object="${usera}">
        <td th:utext="${usera.id}">ID</td>
        <td th:utext="${usera.firstName}">First Name</td>
        <td th:utext="${usera.lastname}">Last Name</td>
        <td th:utext="${usera.age}">Age</td>
        <td th:utext="${usera.email}">E-mail</td>
        <td th:utext="${usera.roleToString()}"></td>

    </tr>
</table>



</body>
</html>